html,
body {
    background-color: #E8F0FE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

main {
    max-width: 960px;
    margin: 40px auto;
    padding: 40px;
    background-color: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    color: #4A90E2;
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    color: #50B4FC;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#contacts,
#peers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contact,
.peer {
    border: 2px solid #B3DAF1;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #EFEFEF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}

.contact:hover,
.peer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.socials span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    color: #7A92A5;
}

form {
    background-color: #F4F9FD;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: #4A90E2;
}

form input,
form button[type="submit"],
form button[type="button"] {
    padding: 12px;
    border: 2px solid #B3DAF1;
    border-radius: 5px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
}

form input:focus,
form button[type="submit"]:focus,
form button[type="button"]:focus {
    border-color: #4A90E2;
    outline: none;
}

form button[type="submit"],
form button[type="button"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
    background-color: #0056b3;
}

#clearStateForm button,
.removeFieldBtn {
    background-color: #D9534F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 18px;
}

#addCustomFieldBtn,
.removeFieldBtn:hover {
    background-color: #5CB85C;
    color: white;
}

form input {
    background-color: #FAFAFA;
}

form input:hover {
    background-color: #F4F9FD;
}

#contact-book-select {
    color: #4A90E2;
    background-color: #FAFAFA;
    padding: 12px;
    border: 2px solid #B3DAF1;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-book-select-label {
    display: inline-block;
    font-size: 1em;
}

#contact-book-select {
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#contact-book-select:hover {
    background-color: #F4F9FD;
    border-color: #4A90E2;
}

.deleteContactBookBtn {
    background-color: #D9534F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.deleteContactBookBtn:hover {
    background-color: #C9302C;
}

.addContactForm,
.invitePeerForm,
.invite {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 400px;
}

.addContactForm label,
.invitePeerForm label {
    font-weight: bold;
    margin-right: 10px;
}

.addContactForm input[type="text"],
.invitePeerForm input[type="text"],
#newBookName {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    width: calc(100% - 22px);
}

.addContactForm button,
.invitePeerForm button,
.invite button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.addContactForm button:hover,
.invitePeerForm button:hover,
.invite button:hover {
    background-color: #357ABD;
}

.removeFieldBtn,
.deleteContactBtn,
.submitSocialBtn,
.socials button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    max-width: 100px;
}

.removeFieldBtn:hover,
.deleteContactBtn:hover,
.submitSocialBtn:hover {
    background-color: #357ABD;
}

.editableDescription,
.editableSocial {
    border: 1px solid transparent;
    padding: 5px;
    display: inline-block;
    width: calc(100% - 10px);
}

.editableDescription:focus,
.editableSocial:focus {
    border: 1px solid #4A90E2;
    outline: none;
}